language: r

warnings_are_errors: true

sudo: required

env:
  global:
    - CRAN: http://cran.rstudio.com

r_binary_packages:
  - testthat

before_script: Rscript ./travis/travis_prep.R

script: ./travis/travis_run_build.sh

notifications:
  email:
    on_success: change
    on_failure: change
  slack:
    secure: XYApFxcb6aIoWabKVilm0fbjJijwImInDSH7+h4+gCwSs1adZnp65xeyPqqmUevkhS0YRzsbzoIbAvDXJvJnv9xkHb3SLhNzFHryn3RC161vKvQIjf1BiGvfObzXfwoYK/iksRgDLjnhCnIryIy0723NehKzR4wXE+uexp/TNDO4SF0aUzjh3+BWEYDU17RneKI84P3932zwuiN7YDLprFwQNh2QRpSHenTtv2PjA7v+SalUK6oDIq/hxrp1e689+AhusmzxpwdqH0aDK98SY3YYqhA1n1b1EQHcYWWPy/GgEr3KeOOcEGT9ZzFti/6FhSia4sYO7YZAP4cVO/+fxtF4lvvhZoVbWr5ke9fb7K3rP0U+ZAD6yJmUXfDP1GZGGLFtBg6TdbqeOJDokgHvFmeeG5ltpl25BxsuKUgN44Vmp7UxaKUT1epayNJJWba03OpAYDOjWMp6BQxW5m6tgp3dL0RCDwE7x2rtdz9iV3JBruDIHbty4gOIVTAq+SxS6v5huFZCoN/0k1DeYLrldG25eytRsVE5EfqgnajW+U3/0GaGpcLefEoYWTI9tlBA18Fd/k61Gt8+b+scwdjUcLAzmQ0ZfzUYdjustHGsTx3rVjD9ayB0M2j3lNBujhax9MB92zvqK8wgG9RbmSSu5U5MGmsGSH3QIHdJD2ilpd0=

branches:
  only:
    - master
    - dev
